<!-- <div style="background-color:{{ entity.field_background_color[0] }}"> -->
		<div class="container">
            <div class="row">
                <div class="col-xs-12">
					<div class="cta-classes">
					{{ entity.field_audio_file[0] }}                                      
					</div>
                </div>
            </div>
        </div>
<!-- </div> -->
