
<div style="background-color:{{ entity.field_background_color[0] }}">
<figure>
    {{ entity.field_background_image[0] }}
</figure>
<h3>
    entity.field_title_h3[0] }}  
</h3>
<h4>
    {{ entity.field_link[0] }}   
</h4>

</div> 